.charsheet .sheet-grid-section{
	display: grid;
	grid-template-columns: 400px 200px;
	grid-template-rows:  60px 150px 150px 150px;
	grid-template-areas:"namelvl hp     "
						"skills  stat   "
						"skills  equip  "
						"notes   equip  ";
	grid-gap: 5px;
  }
  .charsheet .sheet-block{
	display: grid;
	justify-content: center;
	padding: 5px;
	border: 3px solid black;
  }
  .charsheet .sheet-namelvl{
	grid-area: namelvl;
  }
  .charsheet .sheet-hp{
	grid-area: hp;
  }
  .charsheet .sheet-stat{
	grid-area: stat;
  }
  .charsheet .sheet-skills{
	grid-area: skills;
  }
  .charsheet .sheet-equip{
	grid-area: equip;
  }
  .charsheet .sheet-notes{
	grid-area: notes;
  }