/**
@font-face {
    font-family: 'Konexy';
    src: url('https://raw.githubusercontent.com/chrehall68/character-sheet/main/fonts/KonexyPersonalUse-rg3wK.otf') format('truetype');
}
*/

.sheet-App {
    /** Scale it to be 8.5 by 11 (like a pdf or piece of paper) */
    width: 1020px;
    height: 1320px;

    font-family: 'Konexy', 'Times New Roman', Times, serif;
    border: 1px solid black;
}

p {
    font-family: 'Konexy', 'Times New Roman', Times, serif !important;
    line-height: unset !important;
}

input:disabled {
    background-color: inherit;
}