.sheet-body {
    display: grid;
    height: 80%;
    grid-template-columns: repeat(auto-fit, 6.16%);
    grid-template-rows: repeat(auto-fit, 1.5%);
    row-gap: 0.5%;
    column-gap: 0.5%;
    border: 2px solid black;
    grid-auto-flow: dense;
}

/** ----------SmallAttr styles---------- */
.sheet-smallAttr {
    grid-column: span 2;
    grid-row: span 4;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sheet-smallAttr .sheet-header {
    width: 100%;
    height: 30%;
    text-align: center;
    border-bottom: solid black 1px;
    margin: 0px;
}


.sheet-smallAttr .sheet-contentRow {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sheet-smallAttr input[type=number].sheet-value {
    width: 50%;
    text-align: center;
    border: 0px;
    font-size: larger;
}

.sheet-smallAttr input[type=number].sheet-value::-webkit-outer-spin-button,
.sheet-smallAttr input[type=number].sheet-value::-webkit-inner-spin-button {
    display: none;
}

.sheet-smallAttr .sheet-attr_mod {
    display: inline;
    vertical-align: middle;
}

/** ----------GunBar styles---------- */
.sheet-gunBar {
    border: solid black 2px;
    grid-column: span 1;
    grid-row: span 15;
    overflow: hidden;
    display: block;

    width: 66.6%;
    transform: translateX(33.3%);
}

.sheet-gunBar p {
    text-align: center;
    overflow: visible;
    width: max-content;
    transform: rotateZ(-90deg) translateX(-150%) translateY(-50%);
}

/** ----------LongAttr styles---------- */
.sheet-longAttrHeader {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet-oneRow {
    grid-column: span 2;
    grid-row: span 2;
    height: 33px;
    margin: 0px auto;
    padding: 0px auto;
    text-align: center;
}

.sheet-twoRow {
    grid-column: span 2;
    grid-row: span 4;
    margin: 0px auto;
    padding: 0px auto;
}

.sheet-longAttr {
    grid-column: span 4;
    grid-row: span 4;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 100%;
}

/** ----------MainAndLabelBox styles---------- */
.sheet-mainAndLabelBox {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
    border: 1px solid black;
}

.sheet-mainAndLabelBox p.sheet-main,
.sheet-mainAndLabelBox input[type=number].sheet-main {
    height: 66.6%;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.sheet-mainAndLabelBox input[type=number].sheet-main {
    border: 0px;
}

.sheet-mainAndLabelBox input[type=number].sheet-main::-webkit-outer-spin-button,
.sheet-mainAndLabelBox input[type=number].sheet-main::-webkit-inner-spin-button {
    display: none;
}

.sheet-mainAndLabelBox .sheet-lbel {
    height: 33.3%;
    width: 100%;
    font-size: 8px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.sheet-health {
    grid-column: span 4;
    grid-row: span 4;
}

.sheet-headerCurMaxMod {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sheet-headerCurMaxMod .sheet-header {
    width: 100%;
    height: 30%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.sheet-headerCurMaxMod .sheet-contentRow {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
}

.sheet-headerCurMaxMod .sheet-current,
.sheet-headerCurMaxMod .sheet-max {
    display: flex;
    width: 40%;
}

.sheet-headerCurMaxMod .sheet-mod {
    display: flex;
    width: 20%;
}

/* Checks stuff */
.sheet-checks {
    grid-column: span 6;
    grid-row: span 15;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.sheet-checks .sheet-header {
    width: 100%;
    height: min-content;
    text-align: center;
    background-color: azure;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid black;
}

.sheet-checksItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15%;
}

.sheet-checksItem .sheet-checksItemTitle {
    width: 20%;
}

.sheet-checksItem .sheet-val1,
.sheet-checksItem .sheet-val2,
.sheet-checksItem .sheet-val3 {
    height: 80%;
}


/*Melee box*/
.sheet-melee {
    grid-column: span 4;
    grid-row: span 4;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.sheet-melee .sheet-header {
    width: 100%;
    height: 30%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.sheet-melee .sheet-row1 {
    height: 70%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.sheet-melee .sheet-die {
    width: 80%;
    height: 100%;
    display: flex;
}

.sheet-melee .sheet-dmgmd {
    width: 20%;
    height: 100%;
    display: flex;
}

.sheet-shields {
    grid-column: span 4;
    grid-row: span 7;
    border: 1px solid black;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.sheet-shields .sheet-row1 {
    height: 50%;
    width: 100%;
    border-bottom: 1px solid black;
}

.sheet-shields .sheet-row2 {
    height: 50%;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sheet-shields .sheet-shieldInput {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
    height: 50%;
}

.sheet-shields .sheet-shieldInput p,
.sheet-shields .sheet-shieldInput h5 {
    font-size: smaller;
    width: 35%;
}

.sheet-shields .sheet-shieldInput textarea {
    height: 75%;
    width: 65%;
    font-size: smaller;
    margin: 0px;
    padding: 0px;
}

.sheet-gold {
    grid-column: span 4;
    grid-row: span 3;
    border: 1px solid black;
    overflow: hidden;
}

.sheet-gold div.sheet-header {
    margin: 0px;
    padding: 0%;
    width: max-content;
    height: 100%;
    width: 15%;
    vertical-align: top;
    align-items: center;
    display: inline-flex;
    background-color: gray;
}

.sheet-gold .sheet-value {
    height: 100%;
    width: 85%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    float: right;
}

.sheet-gold .sheet-value input[type=number] {
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: x-large;
    border: 0px;
}

.sheet-BARank {
    grid-column: span 4;
    grid-row: span 4;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
}

.sheet-BARank div.sheet-header {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid black;
    justify-content: center;
}

.sheet-BARank div.sheet-header h3 {
    width: 100%;
    height: 30%;
    background-color: grey;
    overflow: hidden;
    display: block;
    margin: 0px;
    padding: 0px;
    text-align: center;
    align-self: flex-start;
}

.sheet-BARank div.sheet-header input[type=number] {
    padding-top: 5%;
    width: 80%;
    height: 70%;
    border: 0px;
    overflow: hidden;
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    align-self: flex-end;
}

.sheet-BARank div.sheet-tokens {
    margin: 0px;
    padding: 0px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    justify-content: center;
    border: 0px;
}

.sheet-BARank div.sheet-tokens p {
    margin: 0px;
    padding: 0px;
    height: 30%;
    width: 100%;
    text-align: start;
}

.sheet-BARank div.sheet-tokens input[type=number] {
    width: 80%;
    height: 70%;
    border: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.sheet-grenades {
    grid-column: span 4;
    grid-row: 18 / span 9;
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    border: 1px black solid;
    align-items: flex-start;
}

.sheet-grenades .sheet-header {
    height: 10%;
    width: 100%;
    overflow: hidden;
    background-color: lightcoral;
}

.sheet-grenades .sheet-header h3 {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.sheet-grenades .sheet-row1 {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.sheet-grenades .sheet-row1 .sheet-type,
.sheet-grenades .sheet-row1 .sheet-damage,
.sheet-grenades .sheet-row2 .sheet-info,
.sheet-grenades .sheet-row2 .sheet-current,
.sheet-grenades .sheet-row2 .sheet-max {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    border: 1px solid black;
}

.sheet-grenades .sheet-row1 .sheet-type {
    width: 60%;
}

.sheet-grenades .sheet-row1 .sheet-damage {
    width: 40%;
}

.sheet-grenades .sheet-row1 .sheet-type input[type=text],
.sheet-grenades .sheet-row1 .sheet-damage input[type=number] {
    width: 80%;
    height: 50%;
    border-top: 0px;
    border-bottom: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    font-size: large;
    text-align: center;
}

.sheet-grenades .sheet-row2 {
    height: 50%;
    display: flex;
    justify-content: flex-start;
}

.sheet-grenades .sheet-row2 .sheet-info {
    width: 60%;
}

.sheet-grenades .sheet-row2 .sheet-info p {
    margin: 0px;
    padding: 0px;
    height: 20%;
    width: 100%;
    text-align: center;
}

.sheet-grenades .sheet-row2 .sheet-info textarea {
    width: 80%;
    height: 80%;
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    border-bottom: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    font-size: small;
}

.sheet-grenades .sheet-row2 .sheet-max,
.sheet-grenades .sheet-row2 .sheet-current {
    width: 20%;
}

.sheet-grenades .sheet-row2 .sheet-max p,
.sheet-grenades .sheet-row2 .sheet-current p {
    font-size: 70%;
}

.sheet-grenades .sheet-row2 .sheet-max input[type=number],
.sheet-grenades .sheet-row2 .sheet-current input[type=number] {
    width: 90%;
    height: 60%;
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    border-bottom: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    font-size: large;
    text-align: center;
}

.sheet-potions {
    grid-column: span 4;
    grid-row: 27 / span 9;
    display: flex;
    flex-wrap: wrap;
    font-size: smaller;
    font-style: normal;
    border: 1px black solid;
    overflow: hidden;
    justify-content: center;
}

.sheet-potions .sheet-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: cornsilk;
}

.sheet-potions .sheet-header h3 {
    padding: 0px;
    margin: 0px;
}

.sheet-potions .sheet-txtbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12.5%;
    width: 95%;
}

.sheet-potions .sheet-txtbox input[type=text] {
    height: 100%;
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px grey solid;
    font-size: large;
    background-color: transparent;
}

.sheet-potions .sheet-txtbox.sheet-lockable {
    background-image: url("/public/images/lock.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.sheet-favoredGun {
    display: flex;
    flex-wrap: wrap;
    grid-row: 36 / span 13;
    grid-column: span 4;
    border: 1px solid black;
    align-content: space-between;
}

.sheet-favoredGun .sheet-header {
    width: 100%;
    display: flex;
    background-color: blanchedalmond;
    height: 10%;
}

.sheet-favoredGun .sheet-header * {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.sheet-favoredGun label.sheet-gunItem {
    display: flex;
    align-items: center;
    height: 14.16%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.sheet-favoredGun .sheet-gunItem * {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-size: small;
}

.sheet-favoredGun .sheet-gunItem img {
    width: 30%;
    height: auto;
}

.sheet-skills {
    grid-row: 22 / span 8;
    grid-column: 5/ span 10;
    border: 1px solid black;
}

.sheet-skills .sheet-header {
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: violet;
}

.sheet-skills .sheet-header h3 {
    margin: 0px;
    padding: 0px;
}

.sheet-skills .sheet-itemWrapper {
    width: 100%;
    height: 80%;
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.sheet-skills .sheet-item {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 90%;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}

.sheet-skills .sheet-item .sheet-itemHeader {
    display: flex;
    width: 100%;
    height: 20%;
    overflow: hidden;
    justify-content: center;
}

.sheet-skills .sheet-item .sheet-itemHeader input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    height: 100%;
    border: 0px;
    font-weight: bold;
}

.sheet-skills .sheet-item .sheet-content {
    display: flex;
    width: 100%;
    height: 60%;
    margin: 0px;
    padding: 0px;
}

.sheet-skills .sheet-item .sheet-content textarea {
    font-size: small;
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.sheet-skills .sheet-item .sheet-content textarea::-webkit-scrollbar {
    display: none;
}

.sheet-skills .sheet-item .sheet-level {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
}


.sheet-bgtraits {
    grid-row: 30 / span 15;
    grid-column: 5 / span 10;
    border: 1px black solid;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.sheet-bgtraits .sheet-header {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sheet-bgtraits .sheet-header h3 {
    margin: 0px;
    padding: 0px;
}

.sheet-bgtraits .sheet-bgbox,
.sheet-bgtraits .sheet-traitsbox {
    display: flex;
    width: 100%;
    height: 40%;
}

.sheet-bgtraits .sheet-bgbox .sheet-bgbar,
.sheet-bgtraits .sheet-traitsbox .sheet-traitsbar {
    display: flex;
    width: 5%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

.sheet-bgtraits .sheet-bgbox .sheet-bgbar p,
.sheet-bgtraits .sheet-traitsbox .sheet-traitsbar p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
}

.sheet-bgtraits .sheet-bgbox .sheet-bginfo,
.sheet-bgtraits .sheet-traitsbox .sheet-traitsinfo {
    display: flex;
    width: 95%;
    height: 100%;
    justify-content: center;
}

.sheet-bgtraits .sheet-bgbox .sheet-bginfo textarea,
.sheet-bgtraits .sheet-traitsbox .sheet-traitsinfo textarea {
    width: 95%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    line-height: 1.7em;
    background-image: repeating-linear-gradient(white, white 1.5em, lightgrey 1.5em, lightgrey 1.7em, white 1.7em);
}

.sheet-archetypeFeat {
    grid-row: 45 / span 4;
    grid-column: 5 / span 10;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.sheet-archetypeFeat .sheet-header {
    width: 100%;
    height: max-content;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.sheet-archetypeFeat .sheet-header * {
    margin: 0px;
    padding: 0px;
}

.sheet-archetypeFeat .sheet-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.sheet-archetypeFeat .sheet-content #title {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.sheet-xpbar {
    display: flex;
    width: 100%;
    grid-column: 1 / span 14;
    grid-row: 49 / span 2;
    height: 100%;
}

.sheet-xpbar .sheet-xpstuff {
    display: flex;
    width: 20%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.sheet-xpbar .sheet-xpstuff::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: black;
    bottom: 0;
    left: 0;
}

.sheet-xpbar .sheet-xpstuff::after {
    transform: scaleX(0);
}

.sheet-xpbar .sheet-xpstuff:hover::after {
    transition-duration: 500ms;
    transform: scaleX(1);
}

.sheet-xpbar .sheet-xpstuff .sheet-lbel {
    margin: 0px;
    padding: 0px;
    width: 40%;
    text-align: center;
}

.sheet-xpbar .sheet-xpstuff input[type=number].sheet-content {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    text-align: center;
    width: 50%;
    height: 70%;
    margin: 0px;
    padding: 0px;
}

.sheet-xpbar .sheet-xpstuff input[type=number].sheet-content::-webkit-outer-spin-button,
.sheet-xpbar .sheet-xpstuff input[type=number].sheet-content::-webkit-inner-spin-button {
    display: none;
}

.sheet-xpbar .sheet-bar {
    display: flex;
    width: 80%;
    overflow: hidden;
    height: 100%;
    background-color: beige;
}

.sheet-xpbar .sheet-bar div {
    background-color: black;
}