.body {
    display: grid;
    height: 80%;
    grid-template-columns: repeat(auto-fit, 60px);
    grid-template-rows: repeat(auto-fit, 12.5px);
    border: 2px solid black;
    gap: 8px;
    grid-auto-flow: dense;
}

/** ----------SmallAttr styles---------- */
.smallAttr {
    grid-column: span 2;
    grid-row: span 4;
    overflow: hidden;

    display: grid;
    grid-template-areas: "header header header"
        "value value mod";

    grid-template-columns: 60px;

    border: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.smallAttr .header {
    text-align: center;
    /*  margin/padding: all  
        margin/padding: vertical | horizontal*/
    margin: 0px auto;
    padding: 0px auto;
    grid-area: header;
    border-bottom: solid black 1px;
}

.smallAttr .value {
    text-align: right;
    grid-area: value;
    display: inline;
    padding: auto auto;
    margin: 0px auto;
}

.smallAttr .attr_mod {
    grid-area: mod;
    display: inline;
    vertical-align: middle;
    float: right;
}

/** ----------GunBar styles---------- */
.gunBar {
    border: solid black 2px;
    grid-column: span 1;
    grid-row: span 15;
    overflow: hidden;
    display: block;

    width: 66.6%;
    transform: translateX(33.3%);
}

.gunBar p {
    text-align: center;
    overflow: visible;
    width: max-content;
    transform: rotateZ(-90deg) translateX(-150%) translateY(-50%);
}

/** ----------LongAttr styles---------- */
.longAttrHeader {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    width: 136px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oneRow {
    grid-column: span 2;
    grid-row: span 2;
    height: 33px;
    margin: 0px auto;
    padding: 0px auto;
    text-align: center;
}

.twoRow {
    grid-column: span 2;
    grid-row: span 4;
    margin: 0px auto;
    padding: 0px auto;
}

.longAttr {
    grid-column: span 4;
    grid-row: span 4;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

/** ----------MainAndLabelBox styles---------- */
.mainAndLabelBox {
    display: grid;
    grid-template-areas: "main"
        "main"
        "label";
    height: 45px;
    grid-template-rows: 15px;

    border: 1px solid black;
    overflow: hidden;
}

.mainAndLabelBox .main {
    grid-area: main;
    font-size: 25px;
    font-weight: bold;
    padding: 0px auto;
    margin: 0px auto;
}

.mainAndLabelBox .label {
    grid-area: label;
    font-size: 8px;
    padding: 0px auto;
    margin: 0px auto;
}

.headerCurMaxMod {
    grid-column: span 4;
    grid-row: span 4;
    display: grid;
    grid-template-areas: "header header header"
        "cur max mod";
    overflow: hidden;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerCurMaxMod .header {
    grid-area: header;
    margin: 0px auto;
    padding: 0px auto;
}

.headerCurMaxMod .current {
    grid-area: cur;
    width: 105px;
}

.headerCurMaxMod .max {
    grid-area: max;
    width: 105px;
}

.headerCurMaxMod .mod {
    grid-area: mod;
    width: 46px;
}

/* Checks stuff */
.checks {
    grid-column: span 6;
    grid-row: span 15;
    border: 1px solid black;
}

.checks .header {
    grid-row: span 1;
    text-align: center;
    background-color: azure;
    margin: 0px auto;
    padding: 0px auto;
    border-bottom: 1px solid black;
}

.checksItem {
    display: grid;
    grid-template-areas: "header val1 plus val2 equals val3";
}

.checksItem .ChecksItemTitle {
    grid-area: header;
    margin: auto auto;
    width: 100px;
}

.checksItem .val1 {
    grid-area: val1;
    margin: auto auto;
}

.checksItem .val2 {
    grid-area: val2;
    margin: auto auto;
}

.checksItem .val3 {
    grid-area: val3;
    margin: auto auto;
}

.checksItem .equals {
    grid-area: equals;
    margin: auto auto;
}

.checksItem .plus {
    grid-area: plus;
    margin: auto auto;
}

/*Melee box*/
.melee {
    grid-column: span 4;
    grid-row: span 4;
    display: grid;
    grid-template-areas: "header header header"
        "die die mod";
    border: 1px solid black;
}

.melee .header {
    grid-area: header;
    height: min-content;
    text-align: center;
    padding: 0px auto;
    margin: 0px auto;
}

.melee .die {
    grid-area: die;
    width: 210px;
}

.melee .mod {
    grid-area: mod;
}

.shields {
    grid-column: span 4;
    grid-row: span 7;
    border: 1px solid black;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shields .shieldInput {
    display: block;
    width: 240px;
    overflow: hidden;
}

.shields .shieldInput p,
.shields .shieldInput h5 {
    display: inline-block;
    margin: auto auto;
    padding: auto auto;
    font-size: smaller;
}

.gold {
    grid-column: span 4;
    grid-row: span 3;
    border: 1px solid black;
    overflow: hidden;
}

.gold div.header {
    margin: 0px;
    padding: 0%;
    width: max-content;
    height: 100%;
    width: 15%;
    vertical-align: top;
    align-items: center;
    display: inline-flex;
    background-color: gray;
}

.gold .value {
    height: 100%;
    width: 85%;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    float: right;
}

.gold .value input {
    width: 100%;
    height: 100%;
    text-align: right;
    font-size: x-large;
}

.BARank {
    grid-column: span 4;
    grid-row: span 4;
    border: 1px solid black;
    overflow: hidden;
}

.BARank div.header {
    width: 50%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    align-items: flex-start;
}

.BARank div.header h3 {
    width: 100%;
    overflow: hidden;
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: smaller;
    text-align: center;
}

.BARank div.header input {
    padding-top: 5%;
    width: 80%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    overflow: hidden;
    display: block;
    margin: 0px auto;
    padding: 0px auto;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.BARank div.tokens {
    margin: 0px;
    padding: 0px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border: 0px;
}

.BARank div.tokens p {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.BARank div.tokens input {
    width: 80%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    overflow: hidden;
    display: block;
    margin: 0px auto;
    padding: 0px auto;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.grenades {
    grid-column: span 4;
    grid-row: 18 / span 9;
    display: inline-block;
    font-size: smaller;
    border: 1px black solid;
    overflow: hidden;
}

.grenades .header {
    height: 10%;
    overflow: hidden;
    background-color: lightcoral;
}

.grenades .header h3 {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.grenades .type {
    height: 35%;
    width: 60%;
    text-align: center;
    overflow: hidden;
    border: 1px solid black;
    display: inline-block;
}

.grenades .type input {
    width: 80%;
    height: 50%;
    border-top: 0px;
    border-bottom: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    font-size: large;
    text-align: center;
}


.grenades .damage {
    height: 35%;
    width: 37%;
    text-align: center;
    overflow: hidden;
    border: 1px solid black;
    display: inline-block;
}

.grenades .damage input {
    width: 80%;
    height: 50%;
    border-top: 0px;
    border-bottom: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    font-size: large;
    text-align: center;
}

.grenades .info {
    height: 50%;
    width: 60%;
    overflow: hidden;
    border: 1px solid black;
    display: inline-block;
}

.grenades .info p {
    margin: 0px;
    padding: 0px;
    height: 20%;
}

.grenades .info textarea {
    width: 80%;
    height: 80%;
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    border-bottom: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    font-size: small;
}


.grenades .current {
    height: 50%;
    width: 18%;
    overflow: hidden;
    border: 1px solid black;
    display: inline-block;
    font-size: xx-small;
}

.grenades .current input {
    width: 90%;
    height: 60%;
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    border-bottom: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    font-size: large;
}

.grenades .max {
    height: 50%;
    width: 17%;
    overflow: hidden;
    border: 1px solid black;
    display: inline-block;
    font-size: xx-small;
}

.grenades .max input {
    width: 90%;
    height: 60%;
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    border-bottom: 1px solid black;
    border-right: 0px;
    border-left: 0px;
    font-size: large;
}

.potions {
    grid-column: span 4;
    grid-row: 27 / span 9;
    display: inline-block;
    font-size: smaller;
    font-style: normal;
    border: 1px black solid;
    overflow: hidden;
}

.potions .header {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: cornsilk;
}

.potions .header h3 {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.potions .txtbox {
    height: 15%;
    width: 95%;
    margin: 3px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
}

.potions .txtbox textarea {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px grey solid;
    font-size: large;
}

.potions .txtbox1 {
    height: 15%;
    width: 95%;
    margin: 3px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
}

.potions .txtbox1 textarea {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px grey solid;
    font-size: large;
}

.potions .txtbox2 {
    height: 15%;
    width: 95%;
    margin: 3px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
}

.potions .txtbox2 textarea {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px grey solid;
    font-size: large;
}

.potions .txtbox3 {
    height: 15%;
    width: 95%;
    margin: 3px;
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 5px;
}

.potions .txtbox3 textarea {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px grey solid;
    font-size: large;
}

.potions .lock * {
    display: inline-flex;
    margin: 0px;
    padding: 0px;
}

.potions .lock img {
    width: 6%;
    height: auto;
}

.favoredGun {
    display: block;
    grid-row: 36 / span 13;
    grid-column: span 4;
    border: 1px solid black;
}

.favoredGun .header * {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
}

.favoredGun label.gunItem {
    display: flex;
    align-items: center;
}

.favoredGun .gunItem * {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    font-size: small;
}

.favoredGun .gunItem img {
    width: 30%;
    height: auto;
}

.skills {
    grid-row: 22 / span 8;
    grid-column: 5/ span 10;
    border: 1px solid black;
}

.skills .header {
    height: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: violet;
}

.skills .header h3 {
    margin: 0px;
    padding: 0px;
}

.skills .itemWrapper {
    width: 100%;
    height: 80%;
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.skills .item {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    height: 90%;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}

.skills .item .itemHeader {
    display: flex;
    width: 100%;
    justify-content: center;
}

.skills .item .content {
    display: flex;
    width: 100%;
    font-size: small;
}

.skills .item .level {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
}


.bgtraits {
    grid-row: 30 / span 15;
    grid-column: 5 / span 10;
    border: 1px black solid;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.bgtraits .header {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bgtraits .header h3 {
    margin: 0px;
    padding: 0px;
}

.bgtraits .bgbox,
.bgtraits .traitsbox {
    display: flex;
    width: 100%;
    height: 40%;
}

.bgtraits .bgbox .bgbar,
.bgtraits .traitsbox .traitsbar {
    display: flex;
    width: 5%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
}

.bgtraits .bgbox .bgbar p,
.bgtraits .traitsbox .traitsbar p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
}

.bgtraits .bgbox .bginfo,
.bgtraits .traitsbox .traitsinfo {
    display: flex;
    width: 95%;
    height: 100%;
}

.bgtraits textarea {
    width: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-left: 0px;
    border-right: 0px;
    line-height: 1.35;
    background-image:
        repeating-linear-gradient(white, white 15%, lightgrey 15%, lightgrey 15%, lightgrey 15.3%),
        repeating-linear-gradient(white, white 15%, lightgrey 15%, lightgrey 15%, lightgrey 15.3%);
}

.archetypeFeat {
    grid-row: 45 / span 4;
    grid-column: 5 / span 10;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.archetypeFeat .header {
    width: 100%;
    height: max-content;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.archetypeFeat .header * {
    margin: 0px;
    padding: 0px;
}

.archetypeFeat .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.archetypeFeat .content #title {
    font-weight: bold;
}