.editable{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    display: inherit;
    margin: inherit;
    padding: inherit;
    background-color: inherit;
    border:none;
}