#header {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
}

#header .item {
    background-color: lightblue;
    display: flex;
    border: solid black 2px;
    overflow: hidden;
    height: 75px;
}

#header .item .box_label {
    justify-self: flex-start;
    align-self: flex-start;
    width: 20%;
    margin: 0px;
}

#header .item .main_content {
    justify-self: flex-start;
    align-self: center;

}

#header .item .main_content input {
    background-color: inherit;
    width: 80%;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    height: 1.5em;
    font-size: inherit;
}

#header .aRow {
    height: 33.3%;
    display: flex;
    width: 100%;
}

#header .class,
#header .name,
#header .arch,
#header .bg {
    display: flex;
    width: 40%;
    height: 100%;
}

#header .title,
#header .lvl {
    width: 20%;
    display: flex;
    height: 100%;
}

#header .skill {
    width: 100%;
    display: flex;
    height: 100%;
}

#header .skill textarea.last {
    width: 75%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#header .skill textarea.last::-webkit-scrollbar {
    display: none;
}

#header .skill .mod_wrapper {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#header .skill .mod_wrapper .mod {
    height: 50%;
    width: 100%;
}