#sheet-header {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
}

#sheet-header .sheet-item {
    background-color: lightblue;
    display: flex;
    border: solid black 2px;
    overflow: hidden;
    height: 75px;
}

#sheet-header .sheet-item .sheet-box_label {
    justify-self: flex-start;
    align-self: flex-start;
    width: 20%;
    margin: 0px;
}

#sheet-header .sheet-item .sheet-main_content {
    justify-self: flex-start;
    align-self: center;

}

#sheet-header .sheet-item .sheet-main_content input {
    background-color: inherit;
    width: 80%;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    height: 1.5em;
    font-size: inherit;
}

#sheet-header .sheet-row {
    height: 33.3%;
    display: flex;
    width: 100%;
}

#sheet-header .sheet-class,
#sheet-header .sheet-name,
#sheet-header .sheet-arch,
#sheet-header .sheet-bg {
    display: flex;
    width: 40%;
    height: 100%;
}

#sheet-header .sheet-title,
#sheet-header .sheet-lvl {
    width: 20%;
    display: flex;
    height: 100%;
}

#sheet-header .sheet-skill {
    width: 100%;
    display: flex;
    height: 100%;
}

#sheet-header .sheet-skill textarea.sheet-last {
    width: 75%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#sheet-header .sheet-skill textarea.sheet-last::-webkit-scrollbar {
    display: none;
}

#sheet-header .sheet-skill .sheet-mod_wrapper {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#sheet-header .sheet-skill .sheet-mod_wrapper .sheet-mod {
    height: 50%;
    width: 100%;
}