.sheet-modifier {
    float: right;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    vertical-align: bottom;
    margin: 0px;
    min-width: 40px;
    min-height: 30px;
}

.sheet-modifier p.sheet-small {
    float: left;
    font-size: 10px;
    max-height: 40%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.sheet-modifier .sheet-mod {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60%;
    width: 100%;
}

.sheet-modifier .sheet-mod p {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.sheet-largeModifier {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-content: center;
    height: 60px;
    width: 60px;
    margin: 0px;
    padding: 0px;
}

.sheet-largeModifier div.sheet-small {
    display: flex;
    max-height: 30%;
    width: 100%;
}

.sheet-largeModifier .sheet-small p {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.sheet-largeModifier div.sheet-mod {
    width: 100%;
    min-height: 70%;
    max-height: 100%;
    display: flex;
}

.sheet-largeModifier .sheet-mod p {
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

.sheet-longModifier {
    display: grid;
    grid-template-areas: "small mod";
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.sheet-longModifier .sheet-small {
    grid-area: small;
    font-size: 10px;
    margin: auto auto;
}

.sheet-longModifier .sheet-mod {
    grid-area: mod;
    font-size: 20px;
    margin: auto auto;
}