.modifier {
    float: right;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    vertical-align: bottom;
    margin: 0px;
    min-width: 40px;
    min-height: 30px;
}

.modifier .small {
    vertical-align: top;
    float: left;
    font-size: 10px;
    height: 30%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.modifier .mod {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.modifier .mod * {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.largeModifier {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 0px;
    padding: 0px;
}

.largeModifier p.small {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    max-height: 30%;
}

.largeModifier p.mod {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    min-height: 70%;
}

.longModifier {
    display: grid;
    grid-template-areas: "small mod";
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.longModifier .small {
    grid-area: small;
    font-size: 10px;
    margin: auto auto;
}

.longModifier .mod {
    grid-area: mod;
    font-size: 20px;
    margin: auto auto;
}